body {
     background-color: black;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }
 .mybody {
     border-radius: 20px;
     border-style: solid;
     border-color: white;
     padding: 20px;
     display: flex;
     flex-direction: column;
     background-color: white;
 }

 .numbuttons {
     display: grid;
     grid-template-columns: auto auto auto auto;
      }

button{
     background-color: gray;
     margin: 5px;
     font-size: 20px;
     padding: 20px;
     border-radius: 20px;
     border-style: solid;
     border-color: black;
 }

 input {
     padding: 15px;
     margin-top: 15px;
     margin-bottom: 10px;
     border-radius: 20px;
     border-style: solid;
     font-size: large;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
    
   
    }

 .selectccountry2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    border-style: solid;
    border-radius: 20px;
 }

 .SHOWDATA{
    text-align: center;
    font-size: 20px;
    color: red;
    font-weight: bold;
 }
.Exchange{
   display: flex;
   flex-direction: row; 
   text-align: center;
}


.label{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    color: green;
    font-size: large;
    font-weight: bold;

}

.icon{
    display: flex;
    margin-left:150px;
    margin-top: 20px; 
    margin-bottom: 10px; 
    justify-content: center;
    align-items: center;
    height: 30px;
}